{% headLink().appendStylesheet(baseUrl('/assets/drive/css/drive.css')) %}
<div id="breadcrumbs"></div>
<style>
#breadcrumbs .separator:before {
    content: '/';
}
</style>
<div id="drive-dir-browser"></div>
<script type="text/javascript" src="{{ baseUrl('/assets/drive/js/vendor/jquery.history-1.5.0a.min.js') }}"></script>
<script type="text/javascript" src="{{ baseUrl('/assets/drive/js/vendor/jquery.eip-0.2.0.min.js') }}"></script>
<script type="text/javascript" src="{{ baseUrl('/assets/drive/js/vendor/jquery.grab.min.js') }}"></script>
<script type="text/javascript">
requirejs.config({
    paths: {
        "maniple": "{{ baseUrl('/assets/core/js/maniple') }}"
    }
});
$(function() {
    require(['{{ baseUrl('/assets/drive/js/drive.' ~ locale ~ '.js') }}'], function (Drive) {
        new Drive.DirBrowser('#drive-dir-browser', {{ ({
            uriTemplates: uri_templates,
            breadcrumbs: dir_browser_breadcrumbs ? dir_browser_breadcrumbs : '#breadcrumbs',
            disableAuxmenu: dir_browser_disable_auxmenu,
            disableUpdir: dir_browser_disable_updir,
            userSearchUrl: user_search_url,
            dir: dir
        }) | json_encode | raw }});
    });
});
</script>
