{% headLink().appendStylesheet(moduleAsset('css/drive.css', 'maniple-drive')) %}
<div id="breadcrumbs"></div>
<style>
#breadcrumbs .separator:before {
    content: '/';
}
</style>
<div id="drive-dir-browser"></div>
<script type="text/javascript" src="{{ moduleAsset('js/vendor/jquery.history-1.5.0a.min.js', 'maniple-drive') }}"></script>
<script type="text/javascript" src="{{ moduleAsset('js/vendor/jquery.eip-0.2.0.min.js', 'maniple-drive') }}"></script>
<script type="text/javascript" src="{{ moduleAsset('js/vendor/jquery.grab.min.js', 'maniple-drive') }}"></script>
<script type="text/javascript">
$(function() {
    require(['{{ moduleAsset('js/drive.' ~ locale ~ '.js', 'maniple-drive') }}'], function (Drive) {
        new Drive.DirBrowser('#drive-dir-browser', {{ ({
            uriTemplates: uri_templates,
            breadcrumbs: dir_browser_breadcrumbs ? dir_browser_breadcrumbs : '#breadcrumbs',
            disableAuxmenu: dir_browser_disable_auxmenu,
            disableUpdir: dir_browser_disable_updir,
            userSearchUrl: user_search_url,
            dir: dir
        }) | json_encode | raw }});
    });
});
</script>
