<div style="font-size:.9em;">

<p>
{{
    translate('Are you sure you want to remove directory <strong>%name%</strong>? All files and subdirectories contained within this directory will be irrevocably deleted.')
    | replace({'%name%': name|escape}) | raw
}}
</p>

<p>
{% if fileCount %}
    {{
        translate([
            'This directory contains one file of size %size%.',
            'This directory contains %fileCount% files having total size of %size%.',
            fileCount
        ])
        | replace({'%fileCount%': fileCount, '%size%': fileSize(size)})
    }}
{% elseif dirCount %}
    {{
        translate([
            'This directory contains one subdirectory',
            'This directory contains %dirCount% subdirectories.',
            dirCount
        ])
        | replace({'%dirCount%': dirCount})
    }}
{% else %}
    {{ translate('This directory contains no files or subfolders.') }}
{% endif %}
</p>

<p><strong>{{ translate('You cannot undo this operation.') }}</strong></p>

{{ form().openTag(form) | raw }}
{{ form.renderElements() | raw }}
{{ form().closeTag() | raw }}

</div>
