{% headLink().appendStylesheet(baseUrl('/assets/drive/css/drive.css')) %}
<h2>My drives</h2>

<style>
.file-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.file-list li {
    margin: 0;
    padding: 8px 0;
}
.file-list li + li {
    border-top: 1px solid #ccc;
}
.file-list li small {
    color: #888;
}
</style>
{% if drive %}
<div class="panel">
    <div class="panel-heading">
        <a class="btn btn-primary btn-small pull-right" style="position:relative;top:-3px;" href="{{ drive().browseUrl(drive.root_dir) }}">{{ translate('Browse files') }}</a>
        <h3 class="panel-title">{{ translate('My drive') }}</h3>
    </div>
    <div class="panel-body">
        <div style="display:table;table-layout:fixed;width:100%;">
            <div style="width:50%;display:table-cell;padding-right:20px;">
                <h4>{{ translate('Last uploaded files') }}</h4>
        {% if drive_files %}
            <ul class="file-list">
            {% for file in drive_files %}
            <li>
                <i class="drive-icon drive-icon{{ file.filter }}"></i>
                <a href="{{ url('drive.file', {action: 'read', file_id: file.file_id}) }}">{{ file.name }}</a>
                <small>
                    {{ fileSize(file.size) }}
                </small>
            </li>
            {% endfor %}
            </ul>
        {% else %}
            <p class="muted">{{ translate('Your drive contains no files') }}</p>
        {% endif %}
            </div>
            <div style="display:table-cell;width:49%;border-left:1px solid #ccc;padding-left:20px;">
                <h4>{{ translate('Content summary') }}</h4>
                <table border=0 style="width:100%">
                <tr><td>
                            
                {% if drive.quota %}
                    <p>Space limit: <strong>{{ fileSize(drive.quota) }}</strong></p>
                    <p>Disk usage: <strong>{{ fileSize(drive.disk_usage) }}</strong>
                    ({{ (drive.disk_usage / drive.quota * 100) | number_format(2) }}%)</p>
                {% else %}
                    <p>Disk usage: <strong>{{ fileSize(drive.disk_usage) }}</strong></p>
                {% endif %}
                    <p>Directories: <strong>{{ drive.num_dirs }}</strong></p>
                    <p>Files: <strong>{{ drive.num_files }}</strong></p>
                </td><td>
                    <p>PDF files: <strong>{{ drive.num_by_type.pdf }}</strong></p>
                    <p>Images: <strong>{{ drive.num_by_type.image }}</strong></p>
                    <p>Videos: <strong>{{ drive.num_by_type.video }}</strong></p>
                    <p>Others: <strong>{{ drive.num_by_type.other }}</strong></p>
                </td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="panel">
    <div class="panel-heading">

        <a class="btn btn-primary btn-small pull-right" style="position:relative;top:-3px;" href="{{ drive().browseUrl('shared') }}">Browse files</a>

        <h3 class="panel-title">Shared with me</h3>
    </div>
    <div class="panel-body">
    {% if shared_files %}
        <ul class="file-list">
        {% for file in shared_files %}
            <li>
            <i class="drive-icon drive-icon{{ file.filter }}"></i>
            {{ routeLink(file.name, 'drive.file', {action: 'read', file_id: file.file_id}) }}
            <small>
                {{ fileSize(file.size) }}
                {{ fullName(file.creator) }}
            </small>
            <div>in <a class="text-muted" href="{{ drive().browseUrl(file.dir_id) }}">{{ file.dirname }}</a></div>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p class="muted">{{ translate('No files are currently shared with you') }}</p>
    {% endif %}
    </div>
</div>

{#
<div class="panel">
    <div class="panel-heading">

        <a class="btn btn-primary btn-small pull-right" style="position:relative;top:-3px;" href="{{ drive().browseUrl('public') }}">Browse files</a>

        <h3 class="panel-title">Public files</h3>
    </div>
    <div class="panel-body">
    {% if public_files %}
        <ul class="file-list">
        {% for file in public_files %}
            <li>
            <i class="drive-icon drive-icon{{ file.filter }}"></i>
            {{ routeLink(file.name, 'drive.file', {action: 'read', file_id: file.file_id}) }}
            <small>
                {{ fileSize(file.size) }}
                {{ fullName(file.creator) }}
            </small>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p class="muted">{{ translate('No public files found') }}</p>
    {% endif %}
    </div>
</div>
#}
