<div id="drive-dir-browser"></div>
<script type="text/javascript" src="{{ baseUrl('/js/viewtils.js') }}"></script>
<script type="text/javascript" src="{{ baseUrl('/js/vendor/handlebars.runtime.min.js') }}"></script>
<script type="text/javascript" src="{{ baseUrl('/assets/drive/js/vendor/jquery.history-1.5.0a.min.js') }}"></script>
<script type="text/javascript" src="{{ baseUrl('/assets/drive/js/vendor/jquery.eip-0.2.0.min.js') }}"></script>
<script type="text/javascript" src="{{ baseUrl('/assets/drive/js/drive.js') }}"></script>
<script type="text/javascript">
$(function() {
    new Drive.DirBrowser('#drive-dir-browser', {{ json({
        uriTemplates: uri_templates,
        dirId: dir_id,
        breadcrumbs: 
            dir_browser_breadcrumbs ? dir_browser_breadcrumbs : '#breadcrumbs',
        disableAuxmenu: dir_browser_disable_auxmenu,
        disableUpdir: dir_browser_disable_updir,
    }) | raw }});
});
</script>
