{% headLink().appendStylesheet(baseUrl('/assets/drive/css/drive.css')) %}
<div id="breadcrumbs"></div>
<style>
#breadcrumbs .separator:before {
    content: '/';
}
</style>
<div id="drive-dir-browser"></div>
<script type="text/javascript" src="{{ baseUrl('/js/viewtils.js') }}"></script>
<script type="text/javascript" src="{{ baseUrl('/assets/drive/js/vendor/jquery.history-1.5.0a.min.js') }}"></script>
<script type="text/javascript" src="{{ baseUrl('/assets/drive/js/vendor/jquery.eip-0.2.0.min.js') }}"></script>
<script type="text/javascript" src="{{ baseUrl('/assets/drive/js/vendor/jquery.grab.min.js') }}"></script>
<!--<script type="text/javascript" src="{{ baseUrl('/assets/drive/js/drive.js') }}"></script>-->
<script type="text/javascript">
$(function() {
    require(['{{ baseUrl('/assets/drive/js/drive.' ~ locale ~ '.js') }}'], function (Drive) {
        new Drive.DirBrowser('#drive-dir-browser', {{ json({
            uriTemplates: uri_templates,
            dirId: dir_id,
            breadcrumbs: dir_browser_breadcrumbs ? dir_browser_breadcrumbs : '#breadcrumbs',
            disableAuxmenu: dir_browser_disable_auxmenu,
            disableUpdir: dir_browser_disable_updir,
            userSearchUrl: user_search_url,
        }) | raw }});
    });
});
</script>
