<p>
{{
    translate('Are you sure you want to remove file <strong>%name%</strong>?')
    | replace({'%name%': name|escape}) | raw
}}
</p>

<p><strong>{{ translate('You cannot undo this operation.') }}</strong></p>

{{ form().openTag(form) | raw }}
{{ form.renderElements() | raw }}
{{ form().closeTag() | raw }}
